<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form name="newCertificate" #f="ngForm" (submit)="generateKeystore()"  novalidate class="form-signin">

        <h2 class="form-signin-heading">New keystore</h2>
        <br><br>
        <div class="container form-group">
          <label class="col-sm-6"> File name:  </label>
          <input class="col-sm-6" type="text" name="keystoreName" [(ngModel)]="keystore['name']"/>
        </div>
        <div class="container form-group">
          <label class="col-sm-6"> Password:  </label>
          <input class="col-sm-6" type="password" name="keystorePassword" [(ngModel)]="keystore['password']" />
        </div>

        <div>
          <button class="pull-right btn btn-warning" style="margin-left: 90%">Generate</button>
        </div>

      </form>
    </div>
  </div>

</div>
