<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form name="registerForm" [formGroup]="serviceForm" #f="ngForm" (submit)="editType()"  novalidate class="form-signin">

        <h2 class="form-signin-heading">Edit additional service</h2>
        <!-- Email -->
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text"
                 id="name"
                 formControlName="name"
                 class="form-control"
                 name="name"
                 placeholder={{types.name}} />
        </div>
        <button type="submit"  class="btn btn-warning pull-right">
          <i class="fa fa-envelope-o"></i>
          <span> Save</span>
        </button>
      </form>
    </div>
    <div class="offset-3"></div>
  </div>
</div>
