
<div class="table-responsive">
  <table class="table table-bordered" *ngIf="services && services.length > 0; else servicesNotFound">
    <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Edit</th>
      <th scope="col">Activate/Deactivate</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let service of services; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ service.name }}</td>
      <td>
        <button type="submit"  routerLink="/category-services/{{ service.id }}/edit" class="btn btn-warning pull-right">
          <i class="fa fa-envelope-o"></i>
          <span> Edit accommodation category</span>
        </button>
        <!--<a class="btn btn-info btn-sm" routerLink="/additional-services/{{ service.id }}/edit">Edit additional service</a>-->
      </td>
      <td>
        <button class="btn btn-danger btn-sm" (click)="deleteCategoryService(service.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form name="registerForm" [formGroup]="categoryServiceForm" #f="ngForm" (submit)="addCategoryService()"  novalidate class="form-signin">

        <h2 class="form-signin-heading">Add accommodation category</h2>
        <!-- Email -->
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text"
                 id="name"
                 formControlName="name"
                 class="form-control"
                 name="name"
                 placeholder={{categoryService.name}} />
        </div>
        <button type="submit"  class="btn btn-warning pull-right">
          <i class="fa fa-envelope-o"></i>
          <span> Add</span>
        </button>
      </form>
    </div>
    <div class="offset-3"></div>
  </div>
</div>
<br>
<br>
<br>
