.form-control:focus {
  border-color: #ffac55;
  box-shadow: inset 0 1px 1px rgba(255, 172, 85, 0.12), 0 0 8px rgba(255, 108, 8, 0.6);
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: #f0ad4e;
  color: white;
}
.custom-day.faded {
  background-color: #f0ad4e;
}

agm-map{
  height: 250px;
  width: 300px;
}
